<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sergiogd.my_league.repository.StandingRepository">
    <resultMap id="standingMap" type="com.sergiogd.my_league.model.Standing">
        <id column="SEASON_ID" property="seasonId" jdbcType="OTHER" javaType="java.util.UUID"/>
        <id column="TEAM_ID" property="teamId" jdbcType="OTHER" javaType="java.util.UUID"/>
        <id column="JOURNEY_NUMBER" property="journeyNumber" jdbcType="OTHER" javaType="java.util.UUID"/>
        <result column="MATCHES_PLAYED" property="matchesPlayed" />
        <result column="POINTS" property="points" />
        <result column="GOALS_FOR" property="goalsFor" />
        <result column="GOALS_AGAINST" property="goalsAgainst" />
        <result column="RANKING" property="ranking" />
    </resultMap>

    <resultMap id="standingResultMap" type="com.sergiogd.my_league.dto.StandingDTO">
        <id     property="ranking"        column="RANKING"/>
        <result property="teamName"       column="TEAM_NAME"/>
        <result property="matchesPlayed"  column="MATCHES_PLAYED"/>
        <result property="points"         column="POINTS"/>
        <result property="goalsFor"       column="GOALS_FOR"/>
        <result property="goalsAgainst"   column="GOALS_AGAINST"/>
    </resultMap>


    <select id="getAllStandings" resultMap="standingMap">
        SELECT * FROM STANDING
    </select>

    <select id="getStandingsByJourneyAndSeasonId" resultMap="standingResultMap">
        SELECT
        S.ranking        AS RANKING,
        T.nombre         AS TEAM_NAME,
        S.MATCHES_PLAYED AS MATCHES_PLAYED,
        S.points         AS POINTS,
        S.goals_for      AS GOALS_FOR,
        S.goals_against  AS GOALS_AGAINST
        FROM STANDING S
        JOIN TEAM T ON S.team_id = T.id
        WHERE S.journey_number = #{journey}
        AND S.season_id = #{seasonId}
        ORDER BY S.ranking
    </select>
</mapper>
